html,
body {
    padding: 0;
    margin: 0;
    scroll-padding: 0px 0px 0px 0px;
}

* {
    box-sizing: border-box;
}

.color-block-top {
    position: absolute;
    z-index: 1;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);
    background-color: #26c7fc;
    height: 80px;
    width: 100%;
}

.color-block-bottom {
    position: absolute;
    z-index: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background-color: #1187ad;
    height: 80px;
    width: 100%;
}

.banner {
    background: url(https://images.theconversation.com/files/233003/original/file-20180822-149484-cs44to.jpg?ixlib=rb-1.1.0&rect=0%2C587%2C3600%2C1800&q=45&auto=format&w=1356&h=668&fit=crop);
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-top: -80px;
}

.banner .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h1 {
    text-align: center;
    color: white;
    font-size: 10vw
}

.banner .portal-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 20%;
    height: 100px;
}

.banner .portal {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: #26c7fc;
    font-size: 30px;
    border-radius: 100px;
    transition: 0.3s;
    cursor: pointer;
}

.banner .portal:hover {
    opacity: 0.8;
}

.banner .portal .material-icons {
    font-size: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}