html,
body {
    padding: 0;
    margin: 0;
    scroll-padding: 0px 0px 0px 0px;
}

* {
    box-sizing: border-box;
}

header {
    position: relative;
    height: 80px;
}

.navbar {
    position: absolute;
    z-index: 5;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.navbar .navlinks a {
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.navbar .navlinks a[current] {
    color: #26c7fc;
    background-color: white;
    -webkit-clip-path: polygon(14% 24%, 0 30%, 14% 39%, 5% 55%, 12% 64%, 0 72%, 7% 85%, 100% 77%, 84% 68%, 98% 67%, 88% 52%, 100% 46%, 89% 34%, 100% 18%, 91% 8%, 0 19%);
    clip-path: polygon(14% 24%, 0 30%, 14% 39%, 5% 55%, 12% 64%, 0 72%, 7% 85%, 100% 77%, 84% 68%, 98% 67%, 88% 52%, 100% 46%, 89% 34%, 100% 18%, 91% 8%, 0 19%);
}

footer {
    height: 160px;
    background-color: #1187ad;
    color: white;
}

.color-block-top {
    position: absolute;
    z-index: 1;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);
    background-color: #26c7fc;
    height: 80px;
    width: 100%;
}

.color-block-bottom {
    position: absolute;
    z-index: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background-color: #1187ad;
    height: 80px;
    width: 100%;
}

.banner {
    background: url(https://images.theconversation.com/files/233003/original/file-20180822-149484-cs44to.jpg?ixlib=rb-1.1.0&rect=0%2C587%2C3600%2C1800&q=45&auto=format&w=1356&h=668&fit=crop);
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-top: -80px;
}

.banner .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h1 {
    text-align: center;
    color: white;
    font-size: 10vw
}

.banner .portal-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 20%;
    height: 100px;
}

.banner .portal {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: #26c7fc;
    font-size: 30px;
    border-radius: 100px;
    transition: 0.3s;
    cursor: pointer;
}

.banner .portal:hover {
    filter: brightness(.6);
}

.banner .portal .material-icons {
    font-size: 50px;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 60px;
    background-color: #26c7fc;
    color: white;
    border: 2px #1187ad solid;
}